# Игнорировать все файлы в директории build/
build/

# Игнорировать временные файлы IDE
.idea/
*.iml

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы окружения
.env

# Игнорировать node_modules (для проектов на JavaScript/Node.js)
node_modules/

# Игнорировать скомпилированные Java-файлы
*.class